---
---
@charset "utf-8";
@import "base";

$default-max-content-width: 40rem;
$section-padding: 3rem;
$paragraph-margin: 1.5rem;

@mixin constrain-content-width($max-width: $default-max-content-width) {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

body > header {
    z-index: 1;
    position: absolute;
}

main {
    section {
        padding: $section-padding;
    }

    header {
        position: relative;
        text-align: right;
        min-height: min(40vw, 30em);
        display: flex;
        justify-content: flex-end;
        .text {
            p {
                line-height: 1.2;
                margin-bottom: 1em;
                font-size:2.5em;
                font-weight:500;
            }
            align-self: center;
            width: 40%;
            padding-right: 5vw;
            @include breakpoint(tablet) {
                padding-right: 2rem;
            }
        }
        h2 {
            text-align: right;
            margin-bottom: 0;
        }
        .image {
            position: relative;
            width: 60%;
            img:first-of-type {
                position: absolute;
                height: 100%;
                left: 0;
                z-index:9;
                width: 100%;
                object-fit: cover;
            }
            img:nth-of-type(2) {
                position: absolute;
                height: 100%;
                right: 0;
                width: 20%;
                z-index:10;
                object-fit: fill;
            }
        }
        background-color: var(--background-color-dark-theme);
    }

    section {
        background-color: var(--background-color-light-theme);
        color: var(--text-color-light-theme);

        > p, > div, > ul {
            @include constrain-content-width;
        }
        > p {
            margin-top: $paragraph-margin;
            margin-bottom: $paragraph-margin;
        }
        > ul {
            padding-left: 4em;
        }
    }

    h1 { font-weight: 500; font-size: 3em; }
    h2 {
        color: var(--brand-color);
        font-weight: 500;
        font-family: $brand-font;
        font-variation-settings: 'wdth' 120;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;
    }

    #headline {
        padding-top: #{$section-padding - $paragraph-margin};
        em {
            color: var(--brand-color);
            font-style: normal;
            font-weight: 500;
        }
        font-weight: 400;
        font-family: $brand-font;
        font-variation-settings: 'wdth' 120;
        text-transform: uppercase;
        font-size: 1.1em;
        p {
            line-height: 2.5;
        }
    }

    #our-services {
        ul {
            list-style-type: none;
            text-transform: uppercase;
            padding-left: 2rem;

            font-family: $brand-font;
            font-variation-settings: 'wdth' 120;
            color: var(--brand-color);
            font-weight: 500;
            font-size: 1.1em;
        }
        li {
            margin-top: 1em;
        }
    }

    #the-team {
        > div {
            max-width: initial;
            border-radius: 2rem;
            padding: 3rem 3rem 6rem;
            background-color: var(--background-color-dark-theme);
            color: var(--text-color-dark-theme);
            h2 {
                color: var(--brand-color);
            }

            > div {
                @include constrain-content-width(50rem);
                display: grid;
                grid-template-columns: 2 auto;
                grid-template-rows: 2 auto;
                &:last-of-type {
                    margin-top: 3rem;
                }
            }
            img.headshot {
                border-radius: 100%;
                grid-area: 1 / 1 / 3 / 2;
                margin: 0 2rem 2rem 0;
            }
            h3 {
                grid-area: 1 / 2 / 2 / 3;
                margin-bottom: 1em;
                font-weight: 500;
                letter-spacing: .08em;
                font-size: 1.5em;
            }
            a.social {
                margin-top: .15em;
                margin-left: 1em;
                float: right;
                svg {
                    width: 1.3em;
                    height: 1.3em;
                    fill: var(--text-color-dark-theme);
                    &:hover {
                        fill: var(--brand-color);
                    }
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        @include constrain-content-width;
        margin-top: 3rem;
        margin-bottom: 1rem;
        gap: 1rem;

        div {
            text-align: center;
            margin-top: 1rem;
        }
    }
    input, textarea {
        font-size: 1em;
        border: 1px solid var(--background-color-dark-theme);
        border-radius: 5px;
        padding: .5rem 1rem;
        &:focus {
            border-color: var(--brand-color);
        }
    }
    .gotcha {
        display: none;
    }
    button {
        font-size: .8em;
        text-transform: uppercase;
        border: 1px solid var(--background-color-dark-theme);
        border-radius: 5em;
        padding: .3rem 2rem;
        width: auto;
        font-weight: 800;
        color: var(--brand-color);
        background-color: var(--background-color-dark-theme);
        transition: color 100ms, background-color 100ms, border-color 100ms;
        &:hover {
            border-color: var(--brand-color);
            background-color: var(--brand-color);
            color: var(--text-color-dark-theme);
        }
    }
    textarea {
        height: 10em;
    }
}