---
---
@charset "utf-8";
@import "base";

@font-face {
    font-family: "Archivo";
    src: url({{ "/assets/Archivo-VariableFont_wdth,wght.ttf" | relative_url }}) format('truetype');
}
@font-face {
    font-family: "Inter";
    src: url({{ "/assets/Inter-VariableFont_slnt,wght.ttf" | relative_url }}) format('truetype');
}

:root {
    font-family: $text-font;
    font-size: 18px;
    @include breakpoint(mobile) {
        font-size: 16px;
    }
    @include breakpoint(mid-desktop) {
        font-size: 21px;
    }
    @include breakpoint(wide-desktop) {
        font-size: 24px;
    }

    --background-color-dark-theme: #{$background-color-dark-theme};
    --brand-color: #{$brand-color};

    --background-color-light-theme: #{$background-color-light-theme};
    --text-color-dark-theme: var(--background-color-light-theme);
    --text-color-light-theme: var(--background-color-dark-theme);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: $standard-line-height;
}

body {
    background-color: var(--background-color-dark-theme);
    color: var(--text-color-dark-theme);
}
body.theme-1 {
    --background-color-dark-theme: #000101;
    --brand-color: #2ac3ae;
}
body.theme-2 {
    --background-color-dark-theme: #000101;
    --brand-color: #ef6c00;
}
body.theme-3 {
    --background-color-dark-theme: #323539;
    --background-color-light-theme: #f7efe3;
    --brand-color: #de4764;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

a {
    text-underline-offset: .3em;
    transition: color 100ms;
    &:link, &:active, &:visited {
        color: var(--text-color-light-theme);
    }
    &:hover {
        color: var(--brand-color);
    }
}

body > header {
    display: flex;
    padding: 1rem 2rem;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }
    a {
        &:link, &:active, &:visited {
            color: var(--text-color-dark-theme);
            text-decoration: none;
        }
    }
    li a {
        &:hover {
            text-decoration: underline;
            text-underline-offset: .3em;
        }
    }
    #logo {
        font-size: 1.1em;
        font-weight: 500;
    }
}

body > footer {
    padding: 5rem 0 2rem;
    text-align: center;
    color: var(--brand-color);
}